.weather-forecast {
  text-align: center;
  margin-top: 40px;
  padding: 0px;
}

.forecast-date {
  font-size: 22px;
}
.col-2 #daily-forecast {
  margin: 0 auto;
  display: block;
}

.col-2 img {
  margin: 0 auto;
  display: block;
  width: 75px;
}

.forecast-temp-max {
  font-size: 18px;
}

.forecast-temp-min {
  font-size: 18px;
  opacity: 0.8;
}

@media (max-width: 900px) {
  .Forecast img {
    width: 40px;
  }
}
