.weather-forecast {
  margin-top: 30px;
  padding: 0px;
}

.forecast-date {
  font-size: 22px;
}

.row#forecast-data {
  text-align: center;
  padding: 0 25px;
}
.col {
  padding: 0;
}

.col-2 {
  margin: 0;
  width: 100%;
}

.forecast-temp-max {
  font-size: 18px;
}

.forecast-temp-min {
  font-size: 18px;
  opacity: 0.8;
}

canvas {
  width: 70px;
}

@media (max-width: 760px) {
  #forecast {
    margin-top: 5px;
  }
  .forecast-date,
  .forecast-temp-max,
  .forecast-temp-min {
    font-size: 15px;
  }

  canvas {
    width: 20px;
  }
  .col-2 {
    padding: 0;
  }

  .row#forecast-data {
    padding: 0;
  }
}
