.search-button Form {
  line-height: 30px;
  border-radius: 4px;
  background-color: white;
  font-size: 80%;
}
.location-button Form {
  line-height: 30px;
  border-radius: 4px;
  background-color: white;
  padding: 10px;
  font-size: 80%;
}

#search-city,
#location-search {
  margin: 5px;
}

.row Form {
  --bs-gutter-x: 0;
}
