.btn {
  border-radius: 4px;
  margin: 0;
  padding-left: 20px;
  color: #27296d;
  border-color: #27296d;
}

.btn:hover {
  background-color: white;
  color: #27296d;
  border-color: #ced4da;
}

@media (max-width: 760px) {
  .btn {
    display: block;
    margin: 0 auto;
  }

  #city-form {
    flex-direction: column;
    margin: 0 auto;
  }
  .col-9 {
    width: 100%;
  }

  .col-3 {
    width: 100%;
  }
}
