li::first-letter {
  text-transform: Uppercase;
}

ul.conditions {
  padding-left: 10px;
}

ul {
  list-style: none;
}

.row {
  margin-top: 25px;
}

.temp-now {
  padding-left: 20px;
}

.iconNow {
  margin: 0 auto;
  height: 120px;
  width: 120px;
}

.currentTemp {
  font-size: 58px;
  font-weight: bold;
  vertical-align: middle;
}

.units {
  font-size: 20px;
  position: relative;
  top: -10px;
}

.current-condition {
  font-weight: bold;
  font-size: larger;
}

@media (max-width: 900px) {
  #iconNow {
    width: 60px;
  }

  .currentTemp {
    font-size: 40px;
  }

  .units {
    font-size: 16px;
  }
}
