.App {
  font-family: "Source Sans Pro", sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.container {
  border-radius: 5px;
  margin-top: 30px;
  padding: 20px;
  border-style: solid;
}
.weather-app {
  max-width: 800px;
  margin: 10px auto;
}
.weather-app-wrapper {
  max-width: 800px;
}

footer {
  text-align: center;
  font: monospace;
  margin-top: 30px;
  font-size: smaller;
}
